@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #443f3f;
}

::-webkit-scrollbar-thumb:hover {
  background: #faf8f8;
}

.container {
  padding-right: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container h2 {
  display: block;
  background-color: white;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 30px;
  margin-inline-end: 0px;
  font-size: xx-large;
  font-weight: 500;
  position:sticky;
  top:3%
}

.button {
  color: #fff;
  background-color: #16008B;
  position:absolute;
  top: 85%;
  left: 68%;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.75rem 0.25rem;
  margin: 0 1rem;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.modal,
.overlay {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: grid;
  place-content: center;
  background-color: rgba(49, 49, 49, 0.45);
}

.modalContent {
  height: 215px;
  width: 280px;
  background-color: white;
  font-weight: 500;
  padding: 1rem;
  border-radius: 7px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.modalContent > div {
  display: flex;
  gap: 1.5rem;
}

.modalContent input {
  width: 130px;
  border-radius: 15px;
  border: 1px solid #d5d3d3;
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  outline: none;
}

.modalContent button {
  margin-left:25px;
  padding: 0.5rem 1.25rem;
  color: #fff;
  background-color: #001F8B;
  font-weight: 300;
  font-size: 1rem;
  border-radius: 7px;
  border: none;
  outline: none;
  width: 80%;
}

.color {
  height: 15px;
  width: 15px;
  border-radius: 10px;
}

.colorComp {
  display: flex;
  gap: 20px;
}

.colorComp > div {
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;
}

.modalContent label {
  font-size: 0.9rem;
  align-self: center;
}

button + label {
  color: red;
  font-size: 0.75rem;
  font-weight: 500;
}

.groupName {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.35rem;
  font-weight: 500;
  padding: 1.2rem 1rem;
  width: 100%;
  cursor: pointer;
}

.groupName:active {
  background-color: #f7ecdc;
}

.icon {
  color: #fff;
  height: 60px;
  width: 60px;
  border-radius: 40px;
  display: grid;
  place-content: center;
}

@media (min-width: 768px) {
  .container {
    max-width: 325px;
  }
  .color {
    height: 30px;
    width: 30px;
    border-radius: 15px;
  }

  .modalContent button {
    width: 26%;
    padding:4px 5px;
    margin-left: 20.35rem;
  }

  .groupName {
    padding: 1rem;
    margin-left: 1rem;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 310px;
  }
  .modalContent {
    width: 500px;
    height: 220px;
    padding: 10px 0px 10px 30px;
    gap: 1.20rem;
    font-size: 1.25rem;
  }
  .modalContent h2,
  .modalContent > div:first-of-type
   {
    margin-left: .02rem;
    
  }
  .modalContent input {
    width: 325px;
    padding: 0.5rem 1rem;
  }

  .button {
    width: 60px;
    height: 60px;
    border-radius: 29px;
    top: 88%;
    left: 14%;
  }

}

.selected {
  border: 1px solid black;
}

.hidden {
  display: none;
}